.player {
  width: 30%;
  min-width: 360px;
  display: flex;
  gap: 2rem;
  /* border: 1px solid var(--font-color-dark-blue); */
  padding: 0.5rem;
}

.player img {
  width: 150px;
}

.player h3 {
  font-size: 3rem;
}
.player p {
  font-size: 1.5rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem 0 10rem 0;
}

.team-block {
  padding: 1rem 6rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
